{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container my-5 bg-white p-4 rounded shadow">
    <h1 class="fw-bold">About Us</h1>
    <p>Welcome to Page Portal (LMS) project - a Library Management System built to simplify the way libraries manage
        their collections, loans, and user interactions.</p>

    <h2>Our Mission</h2>
    <p>
        Our mission is to provide a user-friendly and efficient system that helps libraries manage their resources
        effortlessly. We aim to reduce administrative overhead and empower both librarians and patrons with reliable
        technology.
    </p>

    <h2>Key Features</h2>
    <div class="d-flex flex-column align-items-center">
        <ul style="list-style-type: none;">
            <li>User Authentication with Role Management</li>
            <li>Book Cataloging and Advanced Search</li>
            <li>Loan Issuance, Tracking, and Return Management</li>
            <li>Responsive Design for a Seamless Experience on All Devices</li>
        </ul>
    </div>

    <h2>Our Team</h2>
    <p>
        We are a passionate group of developers and library enthusiasts who believe in the power of technology to
        transform traditional library systems. Our team is dedicated to continuous improvement and innovation.
    </p>

    <h2>Get in Touch</h2>
    <p>
        If you have any questions, feedback, or would like to know more about our project, please don't hesitate to
        contact us at <a href="mailto:dulalishan3@gmail.com">Mail</a>.
    </p>
</div>
{% endblock %}