{% extends "base.html" %}

{% block title %}Loans{% endblock %}

{% block content %}
<div class="container">
    <h1 class="fw-bold text-black">{%if role == "admin"%}Total{%else%}Your{%endif%} Loans</h1>
    {%if loans %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Loan ID</th>
                <th>Member ID</th>
                <th>Book ISBN</th>
                <th>Book Title</th>
                <th>Loan Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for loan in loans %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ loan.id }}</td>
                <td>{{ loan.user_id }}</td>
                <td>{{ loan.isbn }}</td>
                <td>{{ loan.book }}</td>
                <td>{{ loan.loan_date }}</td>
                {%if loan.status == 'approved'%}
                <td class="text-success">Approved</td>
                {%else%}
                <td class="text-danger">Pending</td>
                {%endif%}
                <td>
                    {%if role == 'admin' and loan.status == 'pending'%}
                    <form action="/approve?id={{ loan.id }}" method="POST">
                        <button type="submit" class="btn btn-primary">
                            Approve
                        </button>
                    </form>
                    {%endif%}
                    {%set btn_class = 'secondary' if role == 'admin' else 'primary'%}
                    {%if loan.status =='approved'%}
                    <a class="btn btn-{{btn_class}}" href="/return?id={{loan.id}}">Return</a>
                    {%endif%}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {%else%}
    <p class="fw-bold text-primary">You haven't borrowed any books!</p>
    {%endif%}
</div>
{% endblock %}